<div class="mt-2 row center-sm center-md center-lg">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="box">
            <mat-card>
                <mat-card-title>Olvidaste tu contraseña</mat-card-title>
                <mat-card-subtitle>Recuperar cuenta</mat-card-subtitle>
                <mat-card-actions>
                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Identificación o email</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <button mat-button>Enviar</button>
                </mat-card-actions>
                <mat-card-subtitle><a mat-list-item routerLink="/login">Ingresar al sistema</a></mat-card-subtitle>
              </mat-card>
        </div>
    </div>
</div>