<div class="row">
    <div class="col-xs-12 mt-1 mb-1">
        <mat-card class="gt-card">
            <h2>Lista de roles</h2>
            <mat-divider></mat-divider>
            <div class="row">
                <div class="col-xs-3 mt-2">
                    <a routerLink="/roles/add" mat-raised-button>Agregar rol</a>
                </div>
            </div>
            <mat-card-content>
                <table mat-table [dataSource]="dataSource">
    
                    <!-- Role ID Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                    </ng-container>
                
                    <!-- Role nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                    </ng-container>
                          
                    <!-- Actions Column -->
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                        <td mat-cell *matCellDef="let row">
                            <div class="action-button-row">
                                <a routerLink="/roles/{{row.id}}/edit" mat-icon-button matTooltip="Editar">
                                    <mat-icon aria-label="Edit">edit</mat-icon>
                                </a>
                                <button (click)="deleteRole(row)" mat-icon-button matTooltip="Eliminar">
                                    <mat-icon aria-label="Delete">delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>
                
                <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>    
            </mat-card-content>
            <mat-card-actions>
  
            </mat-card-actions>
        </mat-card>
    </div>   
  </div>