<div class="mt-2 row center-sm center-md center-lg">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <div class="box">
            <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <mat-card>
                    <mat-card-title>Ingreso al sistema</mat-card-title>
                    <mat-card-subtitle>Control de acceso</mat-card-subtitle>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col-xs-12">
                                <mat-form-field class="email" appearance="fill">
                                    <mat-label>Nombre de usuario o email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput type="password" placeholder="Password" formControlName="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-button type="submit">Ingresar</button>
                    </mat-card-actions>
                    <mat-card-subtitle><a mat-list-item routerLink="/reset-password">Olvidaste tu contraseña</a></mat-card-subtitle>
                </mat-card>
            </form>
        </div>
    </div>
</div>