<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav menu" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
      <div class="header-drawer">
        <div>
          <div>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item>
                <mat-icon>recent_actors</mat-icon>
                <span>Perfil</span>
              </button>
              <button mat-menu-item>
                <mat-icon>build</mat-icon>
                <span>Ajustes</span>
              </button>
              <button mat-menu-item>
                <mat-icon>help</mat-icon>
                <span>Ayuda</span>
              </button>
              <mat-divider></mat-divider>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
              </button>
            </mat-menu>     
          </div>
          <div class="name">John Doe</div>
          <div class="role">Administrador</div>
        </div>
        <img class="avatar" src="https://picsum.photos/id/1005/150/150"/>
      </div>
      <div class="sidenav-content">
        <mat-nav-list>
          <a mat-list-item routerLink="/"><mat-icon>dashboard</mat-icon> Dashboard</a>
          <a mat-list-item routerLink="/login"><mat-icon>people</mat-icon> Login</a>
          <a mat-list-item routerLink="/register"><mat-icon>people_outline</mat-icon> Register</a>
          <a mat-list-item routerLink="/profile"><mat-icon>list_alt</mat-icon> Profile</a>
        </mat-nav-list>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z2">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <h1>Inmuebles App</h1>
        <div class="flex-spacer"></div>
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
          <mat-icon aria-label="User">more_vert</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>recent_actors</mat-icon>
            <span>Enlace 1</span>
          </button>
          <button mat-menu-item>
            <mat-icon>build</mat-icon>
            <span>Enlace 2</span>
          </button>
          <button mat-menu-item>
            <mat-icon>help</mat-icon>
            <span>Enlace 3</span>
          </button>
        </mat-menu>
      </mat-toolbar>
  
        <!-- Content -->
        <div class="row center-sm center-md center-lg">
            <div class="mt-2 col-xs-12 col-sm-8 col-md-6 col-lg-6">
                <div class="box">
                    <mat-card>
                        <mat-card-title>Registro de usuario</mat-card-title>
                        <mat-card-subtitle>Crear nueva cuenta</mat-card-subtitle>
                        <mat-card-actions>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Nombre completo</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Identificación</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Email</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Celular</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Dependencia</mat-label>
                                    <mat-select>
                                        <mat-option value="option1">Opción 1</mat-option>
                                        <mat-option value="option2">Opción 2</mat-option>
                                        <mat-option value="option3">Opción 3</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Tipo de vinculación</mat-label>
                                    <mat-select>
                                        <mat-option value="option1">Opción 1</mat-option>
                                        <mat-option value="option2">Opción 2</mat-option>
                                        <mat-option value="option3">Opción 3</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field appearance="fill">
                                    <mat-label>Tipo de usuario</mat-label>
                                    <mat-select>
                                        <mat-option value="option1">Opción 1</mat-option>
                                        <mat-option value="option2">Opción 2</mat-option>
                                        <mat-option value="option3">Opción 3</mat-option>
                                    </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-button>Crear usuario</button>
                        </mat-card-actions>
                      </mat-card>
                </div>
            </div>
        </div>

    </mat-sidenav-content>
  </mat-sidenav-container>  